.inicio {
    width: 1502px;
    height: 100px;
    background-color: rgb(75, 75, 254);
    margin-top: 0;
    position: sticky;
}

.gris {
    width: 760px;
    height: 500px;
    background-color: rgb(148, 147, 147);
    margin-top: 10px;
    float: left; 
}

.ca {
    width: 760px; 
    height: 500px; 
    margin-left: 800px; 
    margin-top: 10px;
}

.padre {
    width: 700px;
    height: 500px;
    background-color: blue;
    top: 50px;
    padding-top: 5px;
}

.hijo1 {
    width: 680px;
    height: 40%;
    background-color: aqua;
    margin-top: 30px;
    margin-left: 10px;
}

.hijo2 {
    width: 680px;
    height: 40%;
    background-color: aqua;
    margin-top: 40px;
    margin-left: 10px;
}

.rojo {
    width: 1502px;
    height: 400px;
    background-color: brown;
    margin-top: 20px;
    clear: both; 
}

.final {
    width: 1502px;
    height: 100px;
    background-color: rgb(75, 75, 254);
    margin-top: 10px;
}